body {
    flex-direction: column;
    background-color: rgb(241, 241, 241);
}

.maintitle{
    width: 100%;
    height: fit-content;
}

h1{
    font-size: 50px;
    margin: 10px 0px;
    text-align: left;
}

.img{
    width: 100%;
    height: 450px;
    display: flex;
}

.img img{
    width: 100%;
    height: 100%;
}

.abt{    
    width: 50%;
    height: fit-content;
    text-align: center;
    align-self: center;
}

.snh{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0px ;
}

.snh h2{
    padding: 5px 5px;
}   

.skill ,.skill h2,.skill ul,.skill li,.hobby,.hobby h2,.hobby ul ,.hobby li{
    background-color: rgb(255, 255, 255);
}

.skill{
    width: 18.5%;
    height: 250px;
    margin-left:20px;
    border-radius: 12%;
    border-width: 1px;
    border-color: rgb(100, 16, 72);
}

.skill:hover, .hobby:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 1px rgb(100, 16, 72);
    /*width: 19.2%;
    height: 255px;*/
    background-color: rgb(255, 249, 249);
}

.hobby{
    width: 18.5%;
    height: 250px;
    margin-right: 20px;
    border-radius: 12%;
}

.acclink, .acclink a{
    width: 100%;
    height: 200px;
    background-color: rgb(61, 187, 103);
}

.acclink {
    padding-left: 17%;
    padding-top: 20px;
}
